<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--<form action="#" th:action="@{/admin/student}" th:object="${student}" method="post">-->
<!--  <label for="rollNumber">rollNumber</label>-->
<!--  <input type="text" th:field="*{rollNumber}" id="rollNumber" placeholder="rollNumber">-->
<!--  <span th:if="${#fields.hasErrors('rollNumber')}" th:errors="*{rollNumber}"></span>-->
<!--  <label for="fullName">fullName</label>-->
<!--  <input type="text" th:field="*{fullName}" id="fullName" placeholder="fullName">-->
<!--  <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>-->
<!--  <input type="submit" value="Add User">-->
<!--</form>-->
</body>
</html>